/* Write your CSS code here */
.list-item {
  font-family: Roboto;
  list-style: none;
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #12022f;
  font-size: 22px;
}

.description {
  color: #9aa5b1;
}

.date {
  color: #9aa5b1;
}
