/* Write your CSS code here */
.userInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.profile-img {
  height: 150px;
}

.user-name {
  color: #12022f;
  margin-bottom: 10px;
}

.user-description {
  margin-top: 5px;
  color: #616e7c;
}
